addict
diffusers
gradio
huggingface_hub
matplotlib
numpy
onnxruntime
opencv_python
Pillow
pycocotools
PyYAML
requests
setuptools
supervision==0.7.0
termcolor
timm
torch==2.5.1
torchvision==0.20.1
transformers
yapf
nltk
fairscale
litellm
